body {
  margin: 0;
  background-color: white;
}

a {
  color: #4775d1;
}

#titlebar {
  background: white;
}

h1 {
  color: black;
}

h2,.h2 {
  font-family: Arial,sans-serif;
  color: #4775d1;
  font-size: 20px;
  line-height: 32px;
  margin: 0;
  padding: 0 0 3px 0;
}


.plustext,a .plustext {
  font-size: 95%;
  font-weight: bold;
  color: #7a1700;
  font-family: sans-serif;
}

a .plustext {
  border: none;
}

#topcontext,#bottomcontext {
  width: 900px;
  height: 24px;
  color: #ADADAD;
  margin: 0;
  padding: 0;
}


#topcontainer {
  width: 900px;
  background-image: url('');
  background-position: top left;
  background-repeat: no-repeat;
  background-color: white;
}
#topcontainer.sq {
  background-image: url('')
}

#maincontainer {
  width: 900px;
  background-image: url('');
  background-position: bottom left;
  background-repeat: no-repeat;
  background-color: white;
}

#tabs table {
  height: 23px;
  width: 100%;
  border: none;
}
#tabs td {
  background-color: white;
  text-align: center;
  border: none;
}
#tabs td div {
  border-bottom: none;
}
#tabs td.active {
  background-color: white;
}
#tabs td.active div {
}
#tabs td a {
  font-size: 11px;
  font-family: Arial,sans-serif;
  font-weight: bold;
  color: #999;
  text-decoration: none;
  border-bottom: 2px solid #4775d1;
  line-height: 17px;
  padding-bottom: 3px;
}

#tabs td a:hover {
  border-bottom: 2px solid #abc860;
}

#tabs td.active a {
  color: black;
  text-decoration: none;
}

.linkbutton,#contextlinks a,.largelinkbutton {
  background-color: white;
  color: black;
  border: none;
  text-decoration: underline;
  padding: 2px 6px 2px 6px;
  margin-right: 7px;
  font-family: sans-serif;
}

#titlebar input.search {
  border: default;
  width: 120px;
  font-family: Verdana,Arial,sans-serif;
  font-size: 10px;
  padding: 4px;
}


.column {
  padding: 15px 25px;
}

.column img {
  border: none;
}

.private {
  color: gray;
}
