html {
	padding:10px;
}
body {
	padding: 2px;
	margin: 0px;
	margin-bottom: 0;
	padding-bottom: 0;
	font-family: 'lucida grande', trebuchet, 'trebuchet ms', sans-serif;
	background: white;
}

#wrapper {
	width: 970px;
	margin: 0px auto;
	margin-top:20px;
}

#content {
	float: left;
	width: 740px;
/*	max-width: 660px; */
	margin-right: 0px;
	padding-top:0;
	margin-top:0;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Gill Sans", Georgia, serif;
}

h1 {
	font-size: large;
	clear: both;
	padding-top:0;
	margin-top:0;
	color: #036
}

h1 img {
	padding-right: 8px;
}

h2 {
	padding: 0;
	margin: 0;
}

h1.pagehead {
	padding: 0;
	margin: 0;
	height: 80px;
	font-family: 'Gill Sans';
	font-size: x-large;
	font-weight: normal;
}



.pagehead a {
	text-decoration: none;
	color: #99a;
}

#searchform {
	padding:0;
	margin:0;
}

.entry a:link, #linkster a:link {
	text-decoration: none;
	border-bottom: 1px solid #369;
	color: #333;
}

.entry a:visited, #linkster a:visited {
	border-bottom: 1px dotted #666;
	text-decoration: none;
	color: #333;
}

.entry a:hover, #linkster a:hover {
	border: 0;
	background:#693;
	border-bottom: 1px solid #693;
	text-decoration: none;
	color: white;
}

.entry h1 a:link, .entry h1 a:visited, .entry h1 a:active {
	text-decoration: none;
	border: none;
	color: #036;
	background: none;
	font-weight: normal;
}

.entry h1 {
	font-weight: normal;
}

/*
.entry h1 a:hover {
	background: #693;
	color: white;
}
*/
.entry h1 a:hover:after {
	content: " \2192";
	color: red;
}

.byline {
	float: left;
	width: 140px;
	font-size: small;
	margin-top: 3px;
}

.bio {
	font-size: x-small;
}

ul {
	list-style: none;
	margin-left 0;
	padding-left: 2em;
	text-indent: -0.9em;
}

li {
	line-height: 1.4em;
}

ul li:before {
	content: "\00BB \0020";
	color: green;
}

li#search {
	padding-left:0em;
	margin-left:0.9em;
	margin-top:5px;
}

li#search:before {
	content: "";
}

blockquote {
	font-family: 'trebuchet ms', trebuchet, 'lucida sans', verdana, arial, sans-serif;
	font-style: italic;
	margin-top: 10px;
	padding-top: 1px;
	padding-left: 40px;
	margin-left: 0px;
	display: block;
	background: url('/img/quote.jpg') top left no-repeat transparent;
}
/*
blockquote {
	text-indent: 0;
	font-style: italic;
	font-family: georgia, palatino, 'times new roman', times, serif;
}
*/	
.ebody {
	padding-left: 145px;
}

.ebody a img {
	border: 1px solid #333;
	padding: 1px;
}

.entry {
	font-size: small;
	line-height: 1.5em;
	padding-bottom: 20px;
	padding-top: 5px;
}

div#linkster {
	float:right;
	width: 180px;
	font-size: small;
	font-weight: normal;
/*	margin-right: -60px; */
}

div#linkster h1,div#linkster h2,div#linkster h3 {
	font-weight: normal;
	font-size: large;
}

#disclaimer {
	clear: both;
}

#disclaimer p {
	text-align: center;
	font: x-small "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

#c {
	color: #693;
}

/* Google Reader clip start */

div#readerpublishermodule0 {
	padding-bottom: 12px;
}

div.reader-publisher-module h3 {
	font-size:large;
}

div.reader-publisher-module h3:before {
	content: "» ";
	color: black;
}

div.reader-publisher-module ul {
	list-style: none;
	margin-left 0;
	padding-left: 2em;
	text-indent: -0.8em;
}

div.reader-publisher-module ul li {
	margin-bottom: 0px;
	font-size:11px;
}

div.reader-publisher-module ul li a {

}

div.reader-publisher-module div.s {
	color: #666;
	display:inline;
	font-size:x-small;
	text-align: right;
}

div.reader-publisher-module div.s a {
	color: #333;
	text-decoration: none;
	border-bottom: 1px dotted #888;
	background-color: #fff;
}

div.reader-publisher-module div.s a:after {
	content: " »";
	color: blue;
}

div.reader-publisher-module div.f {
	text-align: right;
}

/* Google Reader Clip end */

.sidebaricon {
	vertical-align: middle;
	padding-right: 3px;
	border:0;
}

#humanoid, #addy, #message {
	background: cornsilk;
}

fieldset {
	border: none;
}

#required {
	background: cornsilk;
	padding: 2px;
	margin-left: 5px;
	font-size: x-small;
}

legend#required {
	padding: 0;
	margin: 0;
}

#tilladt {
	padding-top: 0;
	margin-top:0;
}
/*
.ebody a[href^="http:"]:hover, .ebody a[href^="https:"]:hover {
        background: blue;
}


.ebody a[href^="http://blog.verture.net/"], .ebody a[href^="http://blog.verture.net/"] {
        background: transparent;
        padding-right: 0px;
}

.ebody a[href^="http://blog.verture.net/"]:hover, .ebody a[href^="http://www.blog.verture.net/"]:hover {
        background: #693;
        padding-right: 0px;
}
*/
