body {
	padding: 2px;
	margin: 0px;
	margin-bottom: 0;
	padding-bottom: 0;
	font-family: 'lucida grande', trebuchet, 'trebuchet ms';
}

#wrapper {
	width: 900px;
	margin: 0px auto;
}

h1 {
	font-size: large;
	clear: both;
	font-family: courier;
}

h1 img {
	padding-right: 8px;
}

h2 {
	padding: 0;
	margin: 0;
	font-family: courier;
}

#search {
	text-align: right;
	margin: 8px 50px 8px 0;
	height: 50px;
/*	border-bottom: 3px solid orange; */
}

.byline {
	float: left;
	width: 140px;
	font-size: small;
	margin-top: 3px;
}

ul {
	list-style: none;
	margin-left 0;
	padding-left: 2em;
	text-indent: -0.9em;
}
	
ul li:before {
	content: "\00BB \0020";
	color: green;
}

blockquote {
	text-indent: 0;
}
	
.ebody {
	padding-left: 150px;
}

.entry {
	width: 70%;
	font-size: small;
	padding-bottom:10px;
}

div#linkster {
	position: absolute;
	left: 72%;
	top: 10%;
	width; 300px;
	font-size: small;
	padding-right: 30px;
}

#footer {
	width: 100%;
}