/* Body-element */

body {
	padding: 20px;
	margin: 0;
	color: #000;
	background: #ddc;
/*	border: 3px solid #ccc9cc; */
	font-family: 'lucida grande', verdana, 'trebuchet ms', trebuchet, sans-serif;
}

#container {
	width: 81%;
	\width: 86%;
	w\idth: 81%;
	border: 1px solid #aa9;
	border-bottom: none;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
/*	background: #F3F2E2; */
	background: #fff;
}

#top {
	padding: 20px;
	padding-left: 5px;
	padding-right: 2px;
	margin-bottom: 0px;
	background: url("/img/autumnleaves.jpg") top left repeat-x #E7D59F;
	border: 5px solid #E7D59F;

}

.imgright {
	background: url("/img/fallleaves.jpg") top center no-repeat;
	height: 128px;
	width: 170px;
	padding: 0;
	margin: 0;
}

#footer {
	clear: both;
	padding: 0px;
	text-align: center;
/*	background: #F3F2E2; */
	background: #f9f9f9;
	border-bottom: 1px solid #aa9;
	border-top: 1px solid #eee;
}

#footer p {
	font-size: x-small;
	color: #aaa;
	background: inherit;
	margin: 0;
	padding: 3px;
}

#footer p a:link, #footer p a:visited, #footer p a:hover {
	font-size: x-small;
	color: #888;
	background: inherit;
	margin: 0;
	padding: 3px;
	font-weight: lighter;
}

img {
	border: none;
}

h1, h2, h3 {
	margin: 0;
	padding: 10px 0 0 0;
	color: #595d0c;
	background: inherit;
}

h1, h2, h3 {
	font-size: medium;
	font-family: 'lucida grande', georgia, palatino, serif;
	voice-family: "\"}\"";
	font-size: medium;
}

p {
	font-size: small;
	line-height: 1.5em;
}

/* list */

#mlist {
	padding: 16px;
	padding-right: 1px;
	margin-right: 0;
	text-align: right;
}

#mlist ul, #mlist li {
	display: inline;
	margin: 0;
	padding: 0;
	color: #339;
	background: inherit;
	font-size: x-small;
	font-weight: bold;
}

#mlist li:before {
	content:"»";
	color: #b50100;
	background: inherit;
}

#mlist a:link {
	color: #232;
	background: inherit;
}

#mlist a:visited {
	color: #343;
	background: inherit;
	text-decoration: none;
}

#mlist a:hover {
	color: #b50100;
	background: inherit;
	text-decoration: none;
}

div#rightc {
	float: right;
	width: 174px;
	margin-left: 0;
	padding-left: 0;
	margin-right: 1px;
	font-size: x-small;
	color: #000;
	background: #F3F2E2;
	text-align: right;
	border-bottom: 1px solid #ddd;
}

div#rightc p {
	margin:0;
	margin-right: 5px;
	padding: 15px 15px 0 0;
	font-size: x-small;
}

.unit {
	text-align: left;
	width: 90%;
	margin-top: 0;
	padding: 5px 7px 10px 10px;
}

#rightc h1 {
	text-align: left;
	padding-top: 10px;
	padding-left: 5px;
	margin-right: 0;
	font-size: medium;
	border-bottom: 1px solid #996;
	color: black;
	background: inherit;
}

div#rightc ul {
	list-style: none;
}

#rightc ul, #rightc li {
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	font-size: x-small;
}

#rightc .unit a {
	color: #333;
	background: inherit;
	text-decoration: none;
	border-bottom: 1px solid #f0e7d7;
}

#rightc .unit a:visited {
	color: #888;
	background: inherit;
	text-decoration: none;
	border-bottom: 1px solid #888;
}

#rightc .unit a:hover {
	color: #900;
	background: inherit;
	text-decoration: none;
	border-bottom: 1px solid #930;
}

/*
#rightc .unit a:hover:before {
	content:"»  ";
	color: #b50100;
	background: inherit;
}
*/

/* Blog-indhold */

div#content {
	padding: 10px 50px 20px 25px;
	margin-right: 176px;
	margin-top: 0;
	background: #fff;
	color: #000;
}

div#content p {
	padding-left: 30px;
	padding-right: 10px;
}

div#content h2 {
	font-size: medium;
	font-weight: lighter;
}

div#content a:link {
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #600;
	background: inherit;
}

div#content a:visited {
	color: #000;
	border-bottom: 1px solid #999;
	background: inherit;
	text-decoration: none;
}

div#content a:hover {
	text-decoration: none;
	border-bottom: 1px dotted #999;
	color: #500;
	background: inherit;
}

div#content ul {
	list-style: square;
	padding-left: 45px;
}

div#content li {
	font-size: small;
	line-height: 1.5em;
}

/* Ikke helt sikker på hvorfor jeg tilføjede denne, 
men der var sikkert en god grund */

.seperator {
	padding-bottom: 10px;
	padding-top: 10px;
	color: #000;
	background: inherit;
	clear: left;
}

.seperator h1 {
	display: inline; 
	padding-top: 10px;
}

.seperator h1 a {
	margin-left: 8px;
}

.seperator h2 {
	clear: left;
}

.seperator img {
	border: 1px solid #999;
}

.date {
	color: #444;
	background: inherit;
	margin: 0;
	font-size: xx-small;
	padding: 5px 0 3px 0;
}

.harkiv {
	color: #000;
	background: inherit;
}

div#content div#seperatora p {
	line-height: 10px;
}

.cc img {
	padding: 1px 20px 1px 20px;
	margin: 0 20px 0 20px;
	text-decoration: none;
	border: 0;
}

.cc {
	line-height: 0;
}

.cc a {
	text-decoration: none;
	border: 0;
}

div#add, form#edit {
	margin-left: 20px;
}

div#add fieldset {
	border: 0;
}

form#mail {
	font-family: 'lucida grande', georgia, palatino, serif;
	font-size: small;
	color: #000;
	background: inherit;
	line-height: 20px;
	margin-left: 30px;
}

form#mail input:hover, form#mail textarea:hover {
	color: #000;
	background: #eee;
}

form#ca {
	border: 0;
}

form#ca input {
	border: 1px solid black;
	font-size: small;
}

form#ca input:hover, form#ca textarea:hover {
	background: #f6f6f6;
	color: #000;
}

form#ca textarea {
	width: 250px;
}

form#ca div {
	margin-top: 10px;
	border: 0;
	font-weight: lighter;
	color: #000;
	background: inherit;
	line-height: 20px;
}

form#ca input[type="submit"]:hover {
	background: #f0e7d7;
	color: black;
}

form#ca input[type="reset"]:hover {
	background: #f0e7d7;
	color: black;
}

.comment * {
	font-size: x-small;
}

.comment {
	margin: 10px 30px 10px 30px;
	border: 1px dotted #7d9478;
	padding: 0;
}

.comment p {
	line-height: 1.4em;
	margin: 0;
	padding: 5px;
}

.komm {
	font-size: x-small;
}

/* Fed tekst */

.b {
	font-weight: bold;
}

/* Gennemstreget tekst */

.s {
	text-decoration: line-through;
}

/* Fremhævet tekst */

.e {
	font-style: italic;
}

abbr, acronym {
	border-bottom: 1px dotted #999;
}

.kage {
	font-size: x-small;
}

q {
	font-family: 'lucida sans', 'trebuchet ms', trebuchet, verdana, arial, sans-serif;
	font-style: italic;
	border-left: 1px solid #bbb;
	padding-left: 10px;
	margin-left: 5px;
	display: block;
}

.head {
	border-bottom: 1px solid #f0e7d7;
/*	border-bottom: 1px solid #c09484; */
}

form#search {
	margin: 0;
	padding-top: 2px;
	padding-left: 2px;
}

form#search input {
	font-size: small;
}

form#search input:hover {
	background: #F9FFF9;
	color: #000;
}

fieldset.transmo {
	border: none;
	padding-left: 0;
	margin-left: 0;
	border-top: 1px solid #600;
}

fieldset.transmo textarea {
	border: 1px solid #600;
}

fieldset.transmo input {
	font-size: small;
}

form#b2s {
	font-size: small;
	padding-top:10px;
}

fieldset#b2sec {
	border: none;
	border-top: 1px solid #600;
}

fieldset#b2sec input {
	margin-bottom:10px;
	border: 1px solid #600;
}

#result {
	color: black;
	background: #F3FFF3;
	border: 1px solid #666;
	padding: 8px;
	text-align: left;
}

.red {
	color: red;
	font-weight: bold;
	background: transparent;
}

ul#services {
	padding-left: 40px;
	margin: 0;
}

ul#services li {
	padding-bottom: 10px;
}

code {
	font-family: monospace;
	font-size: small;
	color: #000;
	background: inherit;
}

em {
	font-family: 'lucida sans', helvetica, verdana, arial, sans-serif;
}
